/.phpunit.cache
/.idea
/.vscode
/vendor
/node_modules
.env
.env.*
!.env.example
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/public/storage
.DS_Store
phpunit.phar
